
// colors
$grey: #d1d2cd;
$yellow: #fac000;
$blue: #2f9bcb;

// Google fonts
@import url(https://fonts.googleapis.com/css?family=Oswald|Suez+One);

// Font Variables
$suez: 'Suez One', serif;
$oswald: 'Oswald', sans-serif;

html, body {

  min-height: 100%;
  margin: 0px;

  background-color: $yellow;

  font-family: $oswald;

}

h1, li {
  font-family: $suez;
}

h3, label {
  font-family: $oswald;
}

#logo {
  display: block;
  margin: auto;
}

#pagecontent {
  @include center_content;
}

form {
  background-color: $blue;
  @include rounded-corners(12px, 30px, 12px, 30px);

  a {
    @include action;
    text-decoration: none;
    margin-top: 2em;
    background-color: darken($grey, 10%);
  }
}

.form_style, .new_admin {
  padding: 3em;
}

label {
  display: block;
}

.view_title {
  font-size: 4em;
  margin-right: 2%;
}

.field {
  input {
    @include field;
    height: 3em;
    width: 10em;
    margin: 1em;
  }

  textarea {
    @include field;
    height: 20em;
    width: 30em;
    margin: 1em;
  }
}

.actions {
  input {
    @include action;
    margin: 1em;
  }
}
