@mixin rounded-corners($topleft, $topright, $bottomright, $bottomleft){
  -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
  -moz-border-radius: $topleft $topright $bottomright $bottomleft;
  border-radius: $topleft $topright $bottomright $bottomleft;
}

@mixin box-shadow($h-shadow, $v-shadow, $blur, $spread, $color){
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color;
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread $color;
  box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

@mixin center_content{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin field{
  background-color: lighten($blue, 20%);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-family: $oswald;
  height: 30px;
}

@mixin action{
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
  color: white;
  font-size: 30px;
  font-family: $suez;

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}
