nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 15%;
  max-height: 100px;
  background-color: lighten($yellow, 30%);

  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    margin: 1%;
    padding: 0;

    li {
      @include rounded-corners(12px, 30px, 12px, 30px);

      font-size: 1.5em;

      background-color: $blue;
      display: flex;
      padding: 0.5em;
      color: white;

      a {
        color: white;
        text-decoration: none;
      }

      .search_field {
        @include field;
      }

      .search_button {
        @include action;
      }
    }

    #notice {
      background-color: green;
    }

    #alert {
      background-color: red;
    }
  }
}
