nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 10%;
  background-color: lighten($yellow, 30%);

  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    margin: 1%;
    padding: 0;

    li {
      @include rounded-corners(12px, 30px, 12px, 30px);

      font-size: 30px;

      background-color: $blue;
      display: flex;
      padding: 20px;
      color: white;

      a {
        color: white;
        text-decoration: none;
      }

      .search_field {
        background-color: lighten($blue, 20%);
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        font-family: $oswald;
        height: 30px;
      }

      .search_button {
        border: none;
        border-radius: 5px;
        box-shadow: 0 9px #999;
        color: white;
        font-size: 30px;
        font-family: $suez;

        &:active {
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }
      }
    }

    #notice {
      background-color: green;
    }

    #alert {
      background-color: red;
    }
  }
}
