// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quote {
  @include center_content;
  @include box-shadow(12px, 12px, 12px, 0px, darken($yellow, 10%));
  @include rounded-corners(74px, 20px, 74px, 20px);


  flex-direction: column;
  width: 80%;
  padding: 1em;
  margin: 0.5em;
  background-color: $grey;

  h1 {
    width: 80%;
    line-height: 150%;
  }

  h3 {
    margin-left: auto;
    margin-right: 1em;
    font-size: 2em;
  }

  a {
    @include action;
    @include link;
  }

  .cheesy_score_container {
    @include center_content;
    flex-direction: row;

    h2{
      display: flex;
      margin-right: 15px;
    }

    img {
      display: flex;
      max-height: 160px;
      max-width: 160px;
      height: 10%;
      width: 10%;
    }
  }
}

.quotes_container {
  @include center_content;
  min-height: 70vh;
  flex-direction: column;
  margin-bottom: 10em;
}
