// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quote {
  @include center_content;
  @include box-shadow(12px, 12px, 12px, 0px, darken($yellow, 10%));
  @include rounded-corners(74px, 20px, 74px, 20px);

  width: 65%;
  flex-direction: column;
  padding: 40px;
  margin: 20px;
  background-color: $grey;

  h1 {
    width: 80%;
    line-height: 150%;
  }

  h3 {
    margin-left: auto;
  }

  .cheesy_score_container {
    @include center_content;
    flex-direction: row;

    h2{
      display: flex;
      margin-left: 0;
    }

    img {
      display: flex;
      max-height: 160px;
      max-width: 160px;
      height: 10%;
      width: 10%;
    }
  }
}

.quotes_container {
  @include center_content;
  flex-direction: column;
  margin-bottom: 100px;
}
